# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
.RDataTmp*

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# README and RMarkdown Notebook previews
**/README.html
**/*.nb.html
!/pipeline.nb.html

# GISAID Data
data/GISAID/*
!data/GISAID/add_GISAID_tars_here.txt

# JetBrains and RStudio workspace
.idea

# Presentation libraries and others
presentations/presentation-template/presentation_files/libs/
presentations/research-updates-1/presentation_files/libs/
presentations/research-updates-1/*.html
presentations/research-updates-2/presentation_files/libs/
presentations/research-updates-2/*.html
presentations/research-updates-3/presentation_files/libs/
presentations/research-updates-3/*.html
presentations/final-presentation/presentation_files/libs/
presentations/final-presentation/*.html
presentations/final-presentation/presentation_files/img/*.RData
presentations/final-presentation/presentation_files/img/*.csv
presentations/final-presentation/presentation_files/img/*.tsv
presentations/final-presentation/presentation_files/img/*.fasta
presentations/final-presentation/presentation_files/img/desktop.ini
presentations/*/presentation_files/*.RData
*.drawio
*.bkp
*.dtmp

# Timestamped data and huge data generated by preprocess.R and kmer-analysis.R
# ~~Ignores timestamps identified by length(str)=17, so please don't use
# custom stamp and strat_size with 17 digits.~~
data/interm/*
!data/interm/*_100.*
!data/interm/*_250.*
!data/interm/*_500.*
!data/interm/metadata_all.csv
data/overview/*_?????????????????.*
data/overview/treemaps/*_?????????????????.*
data/kmers/*
!data/kmers/*_100.csv
!data/kmers/*_250.csv
!data/kmers/*_500.csv
!data/kmers/kmer_3.csv
!data/kmers/kmer_5.csv
!data/kmers/kmer_7.csv

# Local Files YH
backup/
**/test*
**/tmp*

# VSCode files
tempCodeRunnerFile.R

# Large Files
data/fasta_all.fasta
data/overview/heatmaps/*.RData
results/dim-reduce/R/*.RData
results/dendrogram/*.RData
